html {font-family: Arial, Sans-Serif; font-size: 9.5pt}  
body {margin: 0px; padding: 0px; text-align:left; font-weight: normal;}
table {border: 0px; cellpadding: 0px; cellspacing: 0px;}
DIV.symbol {font-family: 4etools symbols} 
DIV.mbheadleft {float: left;  align: left; color: #ffffff; font-size: 13px; font-weight: bold;}  
DIV.mbheadright {float: right; align: right; color: #ffffff; font-size: 13px; font-weight: bold;}  
DIV.mbsubleft {float: left; align: left; color: #ffffff;}  
DIV.mbsubright {float: right; align: right; color: #ffffff;}  
TD.indmed {padding-left: 4px; padding-right: 4px; font-size: 9.5pt; background-color: #9fa48c;}
TD.indlt {padding-left: 4px; padding-right: 4px; font-size: 9.5pt; background-color: #e1e6c4;}

DIV.ggdark {padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; background-color: #374b27; min-height: 14px;}  
DIV.gglt {padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #e1e6c4; min-height: 14px;}  
DIV.ggmed {padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #9fa48c; min-height: 14px; }  
DIV.ggtype {padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #727c55; min-height: 14px; }  
DIV.ggindent {padding-left:20px;} 

/*
table {width: 100%; border: 0px; cellpadding: 0px; cellspacing: 0px;}
DIV.mbwrap {width: 100%; max-width: 570px;}
DIV.ggdark {width: 100%; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; background-color: #374b27; min-height: 14px;}  
DIV.gglt {width: 100%; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #e1e6c4; min-height: 14px;}  
DIV.ggmed {width: 100%; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #9fa48c; min-height: 14px; }  
DIV.ggtype {width: 100%; padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px; background-color: #727c55; min-height: 14px; }  
DIV.ggindent {padding-left:20px;} 
TD.indlt {padding-left: 4px; padding-right: 4px; font-size: 9.5pt; background-color: #e1e6c4;}
*/
