html {
    font-family: Arial, Sans-Serif; 
    font-size: 9.5pt
}  

body {
    font-weight: normal;
    margin: 0px; 
    padding: 0px; 
    text-align:left; 
}

table {
    border: 0px;
    border-spacing: 0px 1px;
    cellpadding: 0px; 
    cellspacing: 0px;
    width: 100%;
}

div.monster table.header {
    background-color: #374b27; 
    color: #ffffff;
    min-height: 14px;
    padding: 2px 3px 2px 3px;
}

div.trap table.header .bold,
div.monster table.header .bold {
    font-size: 13px;
    font-weight: 700;
}

div.monster h2 {
    background-color: #727c55;
    color: #ffffff;
    font-size: 9.5pt;
    font-weight: 700;
    padding: 1px 3px 1px 3px;
    margin: 0;
}

div.monster h3 {
    background-color: #9fa48c;
    font-size: 9.5pt;
    font-weight: 500;
    padding: 1px 3px 1px 15px;
    margin: 0;
}

div.monster .flavor {
    background-color: #e1e6c4;
    margin: 0;
}

div.monster .dark {
    background-color: #9fa48c;
}

div.trap table td,
div.monster table td {
    padding: 0px;
}

div.trap table.header {
    background-color: rgb(69, 19, 60);
    color: #ffffff;
    min-height: 14px;
    padding: 2px 3px 2px 3px;
}

div.trap h2 {
    background-color: rgb(101, 52, 93);
    color: #ffffff;
    font-size: 9.5pt;
    font-weight: 700;
    padding: 1px 3px 1px 3px;
    margin: 0;
}

div.trap h3 {
    background-color: rgb(202, 219, 183);
    font-size: 9.5pt;
    font-weight: 500;
    padding: 1px 3px 1px 15px;
    margin: 0;
}

.right {
    float: right;
    text-align: right;
}

.noindent {
    padding: 1px 3px 0px 3px;
}

.indent {
    padding: 1px 3px 0px 15px;
}